{% extends "includes/master.html" %}
{% block content %}
<div>	
	<table class="table table-bordered table-striped table-hover">
		<thead>
		<tr>
			<td>Home Team</td>
			<td>Away Team</td>
			<td>Date</td>
			<td>Time</td>
		</tr>
		</thead>
		{% for result in results %}
		<tr>
			<td>{{ result.HomeTeam }}</td>
			<td>{{ result.AwayTeam }}</td>
			<td>{{ result.Date }}</td>
			<td>{{ result.Time }}</td>
		</tr>
		{% endfor %}
	</table>
</div>	
<div>
    <class="btn btn-default">Previous</a>
    <class="btn btn-default">Next</a>
</div>
{% endblock %}