{% extends "includes/master.html" %}
{% block content %}
<div>
	{% with messages = get_flashed_messages() %}  
		{% if messages %}  
			{% for message in messages %}  
				<p>{{ message }}</p>  
			{% endfor %}  
		{% endif %}  
 	{% endwith %}  	
	<table class="table table-bordered table-striped table-hover">
		<thead class="table table-dark">
		<tr>
			<td>Home Team</td>
			<td>Away Team</td>
			<td>Date</td>
			<td>Time</td>
		</tr>
		</thead>
		{% for result in results %}
		<tr>
			<td>{{ result.HomeTeam }}</td>
			<td>{{ result.AwayTeam }}</td>
			<td>{{ result.Date }}</td>
			<td>{{ result.Time }}</td>
		</tr>
		{% endfor %}
	</table>
	<table class="table table">
		<tr>
			<td><a href="{{ url_for('schedule', id = i-1)}}"><button class="btn btn-outline-primary btn-block">Previous</button></a></td>
			<td><a href="{{ url_for('schedule', id = i+1)}}"><button class="btn btn-outline-secondary btn-block">Next</button></a></td>
		</tr>

	</table>
</div>	

	

{% endblock %}